body{
  font-family: 'Montserrat' , sans-serif !important;  
  background:#f3f3f3; /*var(--mainWhite)!important;*/
  color: #232528 !important;/*var(--mainDark)!important;*/
}

.text-title{
  font-family: 'Raleway' , sans-serif !important;  
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: #2A2a72!important;/*var(--mainBlue)!important;*/
}


.text-bright{
  color: #232528 !important;/*var(--lightBlue)!important;*/
}

.btn-black{
  background: transparent;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color: #232528;/*var(--mainDark)*/
  border-radius: 0 !important;
  border: 0.1rem solid #232528 /*var(--mainDark)*/ !important;
}

.btn-black:hover{
   background: #232528 !important;/*var(--mainDark)*/
   color: #f3f3f3 !important;/*var(--mainWhite);*/
}

.cart-icon{
   cursor: pointer;
    font-size: 1.2rem;
    color: #ff8400 !important;/*var(--mainYellow);*/
}